<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="SGPMEntities" connectionString="metadata=res://*/SGPMEntities.csdl|res://*/SGPMEntities.ssdl|res://*/SGPMEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PC-JASIEL-29\SQLEXPRESS;initial catalog=SGPM;user id=SGPMAdmin;password=feiuvs21;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<system.serviceModel>
		<bindings>
			<netTcpBinding>
				<binding name="SecureBinding" portSharingEnabled="true">
					<security mode="None" />
					<reliableSession enabled="true" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
   <service behaviorConfiguration="mexBehavior" name="SGPM_Services.ProjectsManagement.SGPMManager">
		<endpoint address="/SGPM_Services" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="SGPM_Contracts.IProjectsManagement.IProjectsManagement" />
		<endpoint address="/SGPM_Services" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="SGPM_Contracts.IBeneficiaryManagement.IBeneficiaryManagement" />
		<endpoint address="/SGPM_Services" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="SGPM_Contracts.IRequestManagement.IRequestManagement" />
	   <endpoint address="/SGPM_Services" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="SGPM_Contracts.IUserManagement.IUserManagement" />
	   <endpoint address="/SGPM_Services" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="SGPM_Contracts.ILocalityManagement.ILocalityManagement" />
	   <endpoint address="/SGPM_Services" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="SGPM_Contracts.IPolicyManagement.IPolicyManagement" />
	   <endpoint address="/SGPM_Services" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="SGPM_Contracts.IBankAccountManagement.IBankAccountManagement"/>
	   <endpoint address="/SGPM_Services" binding="netTcpBinding" bindingConfiguration="SecureBinding" contract="SGPM_Contracts.IDeliveryOrdenManagement.IDeliveryOrdenManagement"/>
	   <host>
		<baseAddresses>
			<add baseAddress="https://localhost:8081/" />
			<add baseAddress="http://localhost:8082/" />
			<add baseAddress="net.tcp://localhost:8083/" />
		</baseAddresses>
	</host>
   </service>
  </services>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>